body, html {
    background-color: white;
}

#main {
    position: absolute;
    width: 300px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*border: 1px solid grey;*/
    border-radius: 20px;
}

#showWords {
    position: relative;
    /*top: 50px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
}

#word {
    width: 200px;
    position: relative;
    /*top: 70px;*/
    left: 0;
    right: 0;
    /*margin: 0 auto;*/
}

#input {
    width: fit-content;
    height: 25px;
    overflow: auto;
    border-bottom: 1px solid grey;
}

.button, #inputBox {
    position: relative;
    font-size: 13px;

}

.button {
    position: relative;
    font-size: 13px;
}

.buttonAndInput {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.inputBox {
    top: 5px;
    height: 15px;
}

#second {
    position: absolute;
    top: 100px;
}